.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
**/*.map
**/*.ts
**/.git/**
scripts/keys.json
tsconfig.json
tsconfig.webview.json
webpack.config.js
eslint.config.mjs
.github/**
test/**
docs/**
templates/**/*.md
media/*.svg
*.md
!README.md
!CHANGELOG.md